// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-blue: #293241;
$light_blue: #3D5A80;
$torquise: #98C1D9;
$whitish: #F6F7F8;
$orangish: #EE6C4D;
$redish: #D11031;
