<div class="navbar">
  <span>Here is a Navbar</span>
</div>
<div class="banner">
  <img src="">
  <h1>Here is Image</h1>
</div>
<div class="cards">
  <% if !@events.nil? %>
    <% @events.each do |event|  %>
      <div class="card">
        <img src="">
        <h2><%= event.name %></h2>
        <h3><%= event.team %><br><%= event.location %></h3>
      </div>
    <% end %>
  <% end %>
</div>
<div class="footer">
  <p>This is footer</p>
</div>
