
.btn-ghost {
  background-color: #EE6C4D;
  color: black;
  border: 1px solid black;
  padding: 14px 10px;
  border-radius: 24px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 20px auto;
  display: block;
  width: 200px;
}

.btn-home:hover {
  opacity: 1;
  background-color: #69D03F;
  color: white;
}

.btn-home{
  background-color: #567D46;
  color: white;
  text: bold;
  padding: 14px 10px;
  border-radius: 24px;
  margin: 60px auto;
  width: 200px;
}
