body{
  background-color: $dark-blue;
}
h1{
  font-weight: 500;
  font-style: san-sarif;
}
.form-inputs{
  background: #98C1D9;
  width: 300px;
  padding: 40px;
  display: block;
  transform: translate(50%,50%);
  text-align: center;
}

.email input, .password input, #submit{
  display: block;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #293241;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

#submit{
  color: white !important;
  padding: 8px 24px;
  border-radius: 4px;
  background: $orangish;
  transition: background 0.3s ease;
}

.email input:focus,.password input:focus{
  border-color: #293241;
  width: 240px;
}


