.navbar-lewagon {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: space-between;
  background: #567D46;
  height: 95px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
#item{
  margin: 16px;
  background-color: $grass-green;
  border: solid;
  text-align: center;
  border-radius: 4px;
  border: 1px solid white;
  width: 100px;
}
.navbar-nav {
  justify-content: space-between;
  align-items: center;
}

.avatar {
  display: flex;
  margin-left: 8px;
  justify-content: flex-end;
}

.ml-6{
  margin-left: 15%;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: white;
}

.navbar-light .navbar-nav .active > .nav-link:hover {
  color: black;
}

#avatar-nav{
  margin: 8px;
}
.navbar-lewagon .navbar-brand img {
  margin-left: -18px;
  width: 120px;
}
.banner {
  padding-left: 16px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.banner h3 {
  svg {
    margin-top: 8px;
    width: 40vw;
  }
}

@media (max-width : 400px) {
  .banner h3{
    svg {
  margin-left: -12vw;
    }
  }
}
