.event-show-card{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 120px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #567D46;
  border-radius: 10px;
}

.show-event-name{
  flex-grow: 1;
}

.attendance-list{

}

.profile{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-right: 1px solid #567D46;
  width: 250px;
  padding-top: 15px;
  .profile-text{
    display: flex;
    flex-direction: column;
  }
  .host-name{
    font-size: 11px;
  }
}

.show-event-name{
  padding-top: 15px;
  padding-left: 15px;
}

.attendance-list{
  padding-top: 24px;
}
.host{
  font-size: 11px;
}

.profile-image{
    img{
    width: 56px;
    border-radius: 50%;
    }
}

.title-attendance{
  display: flex;
  flex-direction: column;
}

.title-actions{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  margin-left: 15px;
  margin-top: 30px;
}

.top-show-card{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #567D46;
  justify-content: space-between;
  align-content: flex-start;
  img{
      display: flex;
      align-items: center;
      width: 250px;
      max-height: 250px;
      object-fit: cover;
  }
}

.middle-show-card{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #567D46;
}


.description{
  flex-grow: 1;
  margin-left: 24px;
}

#delete:hover{
  opacity: 1;
}

.team-card{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-right: 1px solid #567D46;
  p{
    text-align: center;
  }
  h3{
    text-align: center;
  }
}

#update:hover{
  opacity: 1;
}

#update{
  margin: 0 20px 0 0;
}
.show-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 12px;
  margin-right: 15px;
  margin-left: 187px;
}

.location-show-card{
  text-align: center;
}
