.nav-link {
  color: white;
}

.nav-link:hover {
  color: black;
}

.nav-tabs .nav-link {
  border: 1px none transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.nav-tabs {
  margin-top: 95px
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: $torquise;
}
