.home-video-wrapper {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 10%,rgba(255,255,255,0) 30%)
}

.home-video {
   width: 100vw;
   height: 100vh;
   position: absolute;
   object-fit: cover;
   z-index: -2;
}

#giant{
  margin-top: 4vw;
  font-size: 96px;
}

.world {
  margin-top: 16vh;
  margin-bottom: 10px;
}
